@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-dark: hsl(235, 21%, 21%);
  --bg: hsl(199 70% 4%);
  /* --bg-light: hsl(218, 17%, 62%); */
  --bg-light: linear-gradient(
    90deg,
    rgba(42, 51, 155, 1) 0%,
    rgba(87, 197, 199, 1) 33%,
    rgba(201, 83, 237, 1) 100%
  );
  --text: hsl(0, 0%, 100%);
  --text-muted: hsl(197, 24%, 94%);
  --highlight: hsl(197, 45%, 20%);
  --border: hsl(197 30% 27%);
  --border-muted: hsl(196 49% 16%);
  --primary: hsl(196 68% 64%);
  --secondary: hsl(19 69% 69%);
}
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-dark);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  display: grid;
  row-gap: 2px;
  column-gap: 2px;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
}

#gif img {
  position: relative;
  left: -140px;
  top: -100px;
  z-index: 3;
  width: 200px;
  transform: rotate(-30deg);
}

#background {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Navbar Section Starts Here */

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 2;
  background-image: var(--bg-light);
  grid-column: 1/5;
  overflow: hidden;
  /* box-shadow: 0px 1px 80px 1px #0ff; */
}

.nav-logo img {
  width: 60px;
  margin: 5px;
  padding: 5px 10px;
}

.wrapper .sidenav-bar {
  font-size: 2rem;
  position: fixed;
  right: 25px;
  top: 35px;
  display: none;
}

.navbar-ul-links {
  display: flex;
  gap: 5vw;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  right: 5rem;
}

#links {
  text-decoration: none;
  color: var(--text);
  position: relative;
  /* margin: 0; */
}

#links::before {
  color: var(--text);
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: var(--text);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

#links:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  box-shadow: 0px 1px 10px 3px #0ff;
}

.side-navbar-ul-links {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 300px;
  background-color: var(--bg-light);
  display: none;
}

.side-navbar-ul-links .side-link {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin: 0;
  padding: 20px 0;
}

.side-navbar-ul-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-muted);
  font-size: 1.2rem;
  width: 50%;
  padding: 15px 0;
  margin: 0;
}

.side-navbar-ul-links .icons {
  font-size: 1.5rem;
  color: var(--text);
  margin: 0;
}

.side-navbar-ul-links .side-link:hover {
  background-color: var(--bg-dark);
}

/* Hero Section Starts Here */

.tag-line-container {
  grid-column: 1/5;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 3vw;
  margin: 10vw 0 20vw;
  overflow: hidden;
}
.tag-line-container h1 {
  margin-bottom: 0;
  color: var(--text);
}

.gradient-color {
  background: linear-gradient(90deg, #fdbb2d 0%, #3a1c71 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.tag-line-container p {
  color: var(--text-muted);
  font-size: 1rem;
}

.tag-line-container p,
h1,
a {
  text-align: center;
}
.tag-line-container button {
  width: 10%;
}

.tag-line-container a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--text);
  position: relative;
}

.tag-line-container a::before {
  color: var(--text);
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: var(--text);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.tag-line-container a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  box-shadow: 0px 1px 10px 3px #0ff;
}

/* About Section Starts Here */
.about-section-container {
  background-image: var(--bg-light);
  text-align: center;
  margin: 20vw 30%;
  padding: 3vw;
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  grid-column: 1/5;
  overflow: auto;
}
.about-section-container h2 {
  font-size: 2rem;
  text-align: center;
  color: var(--text);
}
.about-section-container p {
  font-size: large;
  word-wrap: break-word;
  color: var(--text-muted);
}

/* Cards Section Starts Here */

#cards-container {
  grid-column: 1/5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: var(--text);
}

#cards-container .card-project {
  width: 275px;
  margin: 30px 20px;
  padding: 50px 20px;
  background-image: var(--bg-light);
  text-align: center;
  flex-direction: column;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

#cards-container .card-project:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 40px 1px #0ff;
}

/* Contact Section  */

.contact-container {
  margin: 20vw 0;
  margin: auto;
  background-image: var(--bg-light);
  max-width: 30%;
  grid-column: 1/5;
  padding: 2vw;
  border-radius: 1rem;
  resize: vertical;
}

.contact-container input,
textarea {
  width: 100%;
}

#message {
  height: 200px;
}

/* Footer Section */
.footer-container-parent {
  grid-column: 1/5;
  padding: 40px 0;
  margin: 30px 0;
}

.footer-container {
  background-color: var(--bg-light);
  border-radius: 1rem;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.footer-container img {
  width: 150px;
  transform: rotate(20deg);
  position: relative;
  right: 40px;
  bottom: 60px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
  height: 100%;
}

.footer-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .navbar-ul-links {
    display: none;
  }

  .wrapper .sidenav-bar {
    display: block;
    position: fixed;
  }

  .tag-line-container {
    display: flex;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .navbar {
    width: 100%;
  }
}
